/lib/
/bin/
/build/
/doc/
/test/*/test
/test/testSuccess
/private/
/vigranumpy/private/
/vigranumpy/lib/__version__.py
CMakeFiles/
Release/
Debug/
*.cmake
*.py[co]
*~
*.mex
*.mexw32
*.mexglx
*.bak
*.obj
.libs
.deps
Makefile
*.exe
*.ilk
*.pdb
*.exp
*.lib
*.dll
*.ncb
*.so
*.[do]
*.l[doa]
*.loT
