
/lib/
/bin/
/build*/
/doc/
/test/*/test
/test/testSuccess
/private/
/vigranumpy/private/
/vigranumpy/lib/__version__.py
CMakeFiles/
Release/
Debug/
*.py[co]
*~
*.mex
*.mexw32
*.mexglx
*.bak
*.obj
.libs
.deps
Makefile
*.exe
*.ilk
*.pdb
*.exp
*.lib
*.dll
*.ncb
*.so
*.[do]
*.l[doa]
*.loT
*.orig
*.mexmaci64
src/matlab/vigraBoundaryTensor.m
src/matlab/vigraConnectedComponents.m
src/matlab/vigraCorner.m
src/matlab/vigraAdjacency.m
src/matlab/vigraExporthdf5RF.m
src/matlab/vigraImporthdf5RF.m
src/matlab/vigraLearnRF.m
src/matlab/vigraLeastAngleRegression.m
src/matlab/vigraPredictLabelsRF.m
src/matlab/vigraPredictProbabilitiesRF.m
src/matlab/vigraRadialSymmetry.m
src/matlab/vigraResize2.m
src/matlab/vigraResize3.m
src/matlab/vigraWatershed.m
