language: python

python:
  - "2.7"
  - "3.4"


sudo: false

addons:
  apt:
    packages:
      - libhdf5-serial-dev
      - libboost-python-dev
      - libjpeg-dev
      - libtiff4-dev
      - libpng12-dev
      - libfftw3-dev
      - cmake

before_script:
  - pip install nose
  - pip install numpy

script:
  - mkdir build && cd build
  - cmake -DCMAKE_BUILD_TYPE=Release -DDEPENDENCY_SEARCH_PREFIX=$VIRTUAL_ENV -DAUTOBUILD_TESTS=1 -DAUTOEXEC_TESTS=0 -DPYTHON_VERSION_MAJOR=${TRAVIS_PYTHON_VERSION:0:1} ..
  - make
  - ctest || ctest -V
