language: python

os:
  - linux
  - osx

python:
  - "2.7"
  - "3.2"


sudo: false

addons:
  apt:
    packages:
      - libhdf5-serial-dev
      - libboost-python-dev
      - libjpeg-dev
      - libtiff4-dev
      - libpng12-dev
      - libfftw3-dev
      - libatlas-base-dev
      - cmake

before_script:
  - pip install nose
  - pip install numpy

script:
  - mkdir build && cd build
  - cmake -DCMAKE_BUILD_TYPE=Release -DDEPENDENCY_SEARCH_PREFIX=$VIRTUAL_ENV -DAUTOBUILD_TESTS=1 -DAUTOEXEC_TESTS=0 -DPYTHON_VERSION=${TRAVIS_PYTHON_VERSION:0:3} ..
  - make
  - ctest --output-on-failure
