# Pipelines are made of one or more jobs and may include resources and variables.
# Jobs are made of one or more steps plus some job-specific data. Steps can be
# tasks, scripts, or references to external templates.

jobs:
#   - job: Linux
#     pool:
#       vmImage: 'ubuntu-16.04'
#     strategy:
#       maxParallel: 2
#       matrix:
#         py36:
#           PY_VERSION: 3.6
#         # py27:
#         #   PY_VERSION: 2.7
#     steps:
#         # NOTE: On Linux, there is no write permission in the miniconda installation,
#         # and the CondaEnvironment@1 does not honor a prefix. Therefore we can *not*
#         # use the conda that comes with Azure as we do on Windows. This is also
#         # documented in the following issue: https://github.com/Microsoft/vsts-tasks/issues/8299
#         # Therefore we need to create our own conda environment from scratch.
#       - task: CondaEnvironment@1
#         inputs:
#           updateConda: false
#       - script: |
#           echo "Will create the conda environment" || exit 1
#           conda create --quiet --yes --mkdir --prefix $AGENT_WORKFOLDER/envs/vigra --channel conda-forge/label/gcc7 python=$(PY_VERSION) || exit 1
#           echo "Will activate the conda environment" || exit 1
#           source $CONDA/bin/activate $AGENT_WORKFOLDER/envs/vigra || exit 1
#           echo "Will start the conda install of prerequisites" || exit 1
#           conda install --quiet --yes --mkdir --channel conda-forge/label/gcc7 jpeg libpng libtiff hdf5 fftw boost boost-cpp numpy nose || exit 1
#           mkdir build || exit 1
#           cd build || exit 1
#           echo "Will start the cmake configuration" || exit 1
#           cmake .. -DTEST_VIGRANUMPY=1 -DDEPENDENCY_SEARCH_PREFIX="$CONDA_PREFIX" -DCMAKE_PREFIX_PATH="$CONDA_PREFIX" || exit 1
#           echo "Will start the cmake based build" || exit 1
#           cmake --build . --target check --config Release || exit 1
#           echo "Completed script successfully" || exit 1
  # - job: macOS
  #   pool:
  #     vmImage: 'xcode9-macos10.13'
  #   strategy:
  #     maxParallel: 2
  #     matrix:
  #       py36:
  #         PY_VERSION: 3.6
  #       # py27:
  #       #   PY_VERSION: 2.7
  #   steps:
  #     # This build is practially identical to the Linux build above.
  #     - task: CondaEnvironment@1
  #       inputs:
  #         updateConda: false
  #     - script: |
  #         echo "Will create the conda environment" || exit 1
  #         conda create --quiet --yes --mkdir --prefix $AGENT_WORKFOLDER/envs/vigra --channel conda-forge python=$(PY_VERSION) || exit 1
  #         echo "Will activate the conda environment" || exit 1
  #         source $CONDA/bin/activate $AGENT_WORKFOLDER/envs/vigra || exit 1
  #         echo "Will start the conda install of prerequisites" || exit 1
  #         conda install --quiet --yes --mkdir --channel conda-forge jpeg libpng libtiff hdf5 || exit 1
  #         # disable some packages for now (internal compiler error)
  #         # conda install --quiet --yes --mkdir --channel conda-forge fftw boost boost-cpp numpy nose || exit 1
  #         mkdir build || exit 1
  #         cd build || exit 1
  #         echo "Will start the cmake configuration" || exit 1
  #         # cmake .. -DTEST_VIGRANUMPY=1 -DDEPENDENCY_SEARCH_PREFIX="$CONDA_PREFIX" -DCMAKE_PREFIX_PATH="$CONDA_PREFIX" || exit 1
  #         cmake .. -DTEST_VIGRANUMPY=0 -DDEPENDENCY_SEARCH_PREFIX="$CONDA_PREFIX" -DCMAKE_PREFIX_PATH="$CONDA_PREFIX" || exit 1
  #         echo "Will start the cmake based build" || exit 1
  #         cmake --build . --target check --config Release || exit 1
  #         echo "Completed script successfully" || exit 1
  # - job: Windows
  #   pool:
  #     vmImage: 'vs2017-win2016'
  #   strategy:
  #     maxParallel: 2
  #     matrix:
  #       py36:
  #         PY_VERSION: 3.6
  #       # py27:
  #       #   PY_VERSION: 2.7
  #   steps:
  #     - task: CondaEnvironment@1
  #       inputs:
  #         updateConda: false
  #     - script: |
  #         echo "Will create the conda environment" || exit 1
  #         conda create --quiet --yes --mkdir --prefix %AGENT_WORKFOLDER%\envs\vigra --channel conda-forge python=$(PY_VERSION) || exit 1
  #         echo "Will activate the conda environment" || exit 1
  #         call activate %AGENT_WORKFOLDER%\envs\vigra || exit 1
  #         echo "Will start the conda install of prerequisites" || exit 1
  #         conda install --quiet --yes --mkdir --channel conda-forge jpeg libpng libtiff hdf5 fftw boost boost-cpp numpy nose || exit 1
  #         mkdir build || exit 1
  #         cd build || exit 1
  #         echo "Will start the cmake configuration" || exit 1
  #         cmake .. -DTEST_VIGRANUMPY=1 -DAUTOEXEC_TESTS=0 -DDEPENDENCY_SEARCH_PREFIX="%CONDA_PREFIX%\Library" -DCMAKE_PREFIX_PATH="%CONDA_PREFIX%\Library" -DCMAKE_GENERATOR_PLATFORM="x64" || exit 1
  #         echo "Will start the cmake based build" || exit 1
  #         cmake --build . --target check --config Release || exit 1
  #         echo "Will start vigranumpy tests" || exit 1
  #         cd vigranumpy\test
  #         dir
  #         type set_paths.py
  #         call run_vigranumpytest.bat Release
  #         cd ..\..
  #         echo "Will start all tests"
  #         rem cmake --build . --target RUN_TESTS --config Release || exit 1
  #         cmake --build . --target RUN_TESTS --config Release
  #         echo "Will start C++ tests with autoexec"
  #         cmake . -DAUTOEXEC_TESTS=1
  #         cmake --build . --target check_cpp --config Release
  #         echo "Will start vigranumpy tests with autoexec"
  #         cmake --build . --target check_python --config Release
  #         echo "Completed script successfully" || exit 1
  - job: nmake
    pool:
      vmImage: 'vs2015-win2012r2'
    strategy:
      maxParallel: 2
      matrix:
        py36:
          PY_VERSION: 3.6
        # py27:
        #   PY_VERSION: 2.7
    steps:
      - script: |
          echo "running vcvarsall.bat"
          call "c:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\vcvarsall.bat" x64
          echo "done"
          where cl
          echo "%PATH%"
          cl /help
          echo "looking for ctest"
          where ctest
          echo "looking for python"
          where python
          dir C:\Python27
          dir C:\Python27\Tools
          set PATH=%PATH%;C:\Python27\Tools
          echo "installing conda"
          pip install conda
          conda --help
