BODY,H1,H2,H3,H4,H5,H6,P,CENTER,TD,TH,UL,DL,DIV {
    font-family: Geneva, Arial, Helvetica, sans-serif;
}
BODY,TD {
       font-size: 90%;
}
H1 {
    background-color: #e0d0a0;
    padding: 0.5em;
    text-align: center;
    font-size: 160%;
}
H2 {
       font-size: 120%;
}
H2.details_section {
    background-color: #e0d0a0;
    padding: 0.5em;
    font-size: 140%;
    text-align: center;
}
H3.details_section {
    background-color: #e0d0a0;
    padding: 0.5em;
    border-width: 1px;
    border-style: solid;
    border-color: #c8aa54;
    -moz-border-radius: 8px 8px 8px 8px;
}
.main_heading {
    background-color: #e0d0a0;
    padding: 1em;
    text-align: center;
    font-size: 200%;
    border: 0px;
    padding: 5px;
    font-weight: bold;
}
.ingroups {
    font-size: 60%;
}
H3 {
       font-size: 100%;
}
table.function_index {
    background-color: #e0d0a0;
    padding: 0.3em;
    font-size: 120%;
    width: 100%;
}
CAPTION { font-weight: bold }
DIV.qindex {
    width: 100%;
    background-color: #e0d0a0;
    border: 1px solid #c8aa54;
    text-align: center;
    margin: 2px;
    padding: 2px;
    line-height: 140%;
}
DIV.nav {
    width: 100%;
    background-color: #e8eef2;
    border: 1px solid #c8aa54;
    text-align: center;
    margin: 2px;
    padding: 2px;
    line-height: 140%;
}
DIV.navtab {
       background-color: #e8eef2;
       border: 1px solid #c8aa54;
       text-align: center;
       margin: 2px;
       margin-right: 15px;
       padding: 2px;
}
TD.navtab {
       font-size: 70%;
}
A.qindex {
       text-decoration: none;
       font-weight: bold;
       color: #1A419D;
}
A.qindex:visited {
       text-decoration: none;
       font-weight: bold;
       color: #1A419D
}
A.qindex:hover {
    text-decoration: none;
    background-color: #ddddff;
}
A.qindexHL {
    text-decoration: none;
    font-weight: bold;
    background-color: #6666cc;
    color: #ffffff;
    border: 1px double #9295C2;
}
A.qindexHL:hover {
    text-decoration: none;
    background-color: #6666cc;
    color: #ffffff;
}
A.qindexHL:visited { text-decoration: none; background-color: #6666cc; color: #ffffff }
A.el { text-decoration: none; font-weight: bold }
A:link { color: #0040b0; }
A:visited { color: #a00040; }
A:hover { text-decoration: none; background-color: #f2f2ff }
A.anchor { color: #000000;   text-decoration: none; background-color: none; }
A.elRef { font-weight: bold }
A.code:link { text-decoration: none; font-weight: normal; color: #0000FF}
A.code:visited { text-decoration: none; font-weight: normal; color: #0000FF}
A.codeRef:link { font-weight: normal; color: #0000FF}
A.codeRef:visited { font-weight: normal; color: #0000FF}
code  { 
/*    font-family: Lucida Console, monospace, fixed; */
    font-family: monospace, fixed;
    color: #303030; 
    font-weight: bold;
} 
DL.el { margin-left: -1cm }
.fragment {
/*    font-family: Lucida Console, monospace, fixed; */
    font-family: monospace, fixed;
       font-size: 95%;
}
PRE.fragment {
/*	border: 1px solid #c8aa54; */
    border: 1px solid #dad0aa;
    background-color: #fcfaf8;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 2px;
    margin-right: 8px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
}
DIV.ah { background-color: black; font-weight: bold; color: #ffffff; margin-bottom: 3px; margin-top: 3px }

DIV.groupHeader {
       margin-left: 16px;
       margin-top: 12px;
       margin-bottom: 6px;
       font-weight: bold;
}
DIV.groupText { margin-left: 16px; font-style: italic; font-size: 90% }
BODY {
    background: #f8f0e0;
    color: black;
    margin-right: 20px;
    margin-left: 20px;
}
TD.indexkey {
/*	background-color: #e8eef2; */
    background-color: #f8f0e0;
    font-weight: bold;
    padding-right  : 10px;
    padding-top    : 2px;
    padding-left   : 10px;
    padding-bottom : 2px;
    margin-left    : 0px;
    margin-right   : 0px;
    margin-top     : 2px;
    margin-bottom  : 2px;
/*	border: 1px solid #CCCCCC; */
    border: 1px solid #e0d0a0;
}
TD.indexvalue {
/*	background-color: #e8eef2; */
    background-color: #f8f0e0;
    font-style: italic;
    padding-right  : 10px;
    padding-top    : 2px;
    padding-left   : 10px;
    padding-bottom : 2px;
    margin-left    : 0px;
    margin-right   : 0px;
    margin-top     : 2px;
    margin-bottom  : 2px;
/*	border: 1px solid #CCCCCC; */
    border: 1px solid #e0d0a0;
}
TR.memlist {
   background-color: #f0f0f0;
}
P.formulaDsp { text-align: center; }
IMG.formulaDsp { }
IMG.formulaInl { vertical-align: middle; }
SPAN.keyword       { color: #008000 }
SPAN.keywordtype   { color: #604020 }
SPAN.keywordflow   { color: #e08000 }
SPAN.comment       { color: #800000 }
SPAN.preprocessor  { color: #806020 }
SPAN.stringliteral { color: #002080 }
SPAN.charliteral   { color: #008080 }
.mdescLeft {
    padding: 0px 8px 4px 8px;
    font-size: 80%;
    font-style: italic;
    background-color: #fcfaf8;
    border-top: 1px none #dad0a8;
    border-right: 1px none #dad0a8;
    border-bottom: 1px none #dad0a8;
    border-left: 1px none #dad0a8;
    margin: 0px;
}
.mdescRight {
    padding: 0px 8px 4px 8px; 
    font-size: 80%;
    font-style: italic;
    background-color: #fcfaf8;
    border-top: 1px none #dad0a8;
    border-right: 1px none #dad0a8;
    border-bottom: 1px none #dad0a8;
    border-left: 1px none #dad0a8;
    margin: 0px;
}
.memItemLeft {
    padding: 1px 0px 0px 8px;
    margin: 4px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-color: #dad0a8;
    border-right-color: #dad0a8;
    border-bottom-color: #dad0a8;
    border-left-color: #dad0a8;
    border-top-style: solid;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    background-color: #fcfaf8;
    font-size: 80%;
}
.memItemRight {
    padding: 1px 8px 0px 8px; 
    margin: 4px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-color: #dad0a8;
    border-right-color: #dad0a8;
    border-bottom-color: #dad0a8;
    border-left-color: #dad0a8;
    border-top-style: solid;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    background-color: #fcfaf8;
    font-size: 80%;
}
.memTemplItemLeft {
    padding: 1px 0px 0px 8px; 
    margin: 4px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-color: #dad0a8;
    border-right-color: #dad0a8;
    border-bottom-color: #dad0a8;
    border-left-color: #dad0a8;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    background-color: #fcfaf8;
    font-size: 80%;
}
.memTemplItemRight {
    padding: 1px 8px 0px 8px; 
    margin: 4px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-color: #dad0a8;
    border-right-color: #dad0a8;
    border-bottom-color: #dad0a8;
    border-left-color: #dad0a8;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    background-color: #fcfaf8;
    font-size: 80%;
}
.memTemplParams {
    padding: 1px 0px 0px 8px; 
    margin: 4px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-color: #dad0a8;
    border-right-color: #dad0a8;
    border-bottom-color: #dad0a8;
    border-left-color: #dad0a8;
    border-top-style: solid;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
/*       color: #606060; */
    background-color: #fcfaf8;
    font-size: 80%;
}
.search     { color: #003399;
              font-weight: bold;
}
FORM.search {
              margin-bottom: 0px;
              margin-top: 0px;
}
INPUT.search { font-size: 75%;
               color: #000080;
               font-weight: normal;
               background-color: #e8eef2;
}
TD.tiny      { font-size: 75%;
}
a {
    color: #1A41A8;
}
a:visited {
    color: #2A3798;
}
.dirtab { padding: 4px;
          border-collapse: collapse;
          border: 1px solid #c8aa54;
}
TH.dirtab { background: #e8eef2;
            font-weight: bold;
}
HR { height: 1px;
     border: none;
     border-top: 1px solid black;
}

/* Style for detailed member documentation */
/*
.memtemplate {
  font-size: 80%;
  color: #606060;
  font-weight: normal;
  margin-left: 3px;
}
*/
.memtemplate {
  white-space: nowrap;
  font-weight: bold;
}
.memnav {
  background-color: #e8eef2;
  border: 1px solid #c8aa54;
  text-align: center;
  margin: 2px;
  margin-right: 15px;
  padding: 2px;
}
.memitem {
/*  padding: 4px; */
  padding: 0px 5px 0px 0px;
/*  background-color: #eef3f5; */
  background-color: #f8f0e0;
  border-width: 1px;
  border-style: solid;
/*  border-color: #dedeee; */
  border-color: #e0d0a0;
  -moz-border-radius: 8px 8px 8px 8px;
  margin-bottom: 20px;
}
.memname {
  white-space: nowrap;
  font-weight: bold;
}
.memdoc{
  padding-left: 10px;
}
.memproto {
  background-color: #e0d0a0;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: #c8aa54;
  font-weight: bold;
  padding: 5px 0px 5px 5px; 
  -moz-border-radius: 8px 8px 8px 8px;
}
.paramkey {
  text-align: right;
}
.paramtype {
  white-space: nowrap;
}
.paramname {
  color: #602020;
  font-style: italic;
  white-space: nowrap;
}
/* End Styling for detailed member documentation */

/* for the tree view */
.ftvtree {
    font-family: sans-serif;
    margin:0.5em;
}
.directory { font-size: 9pt; font-weight: bold; }
.directory h3 { margin: 0px; margin-top: 1em; font-size: 11pt; }
.directory > h3 { margin-top: 0; }
.directory p { margin: 0px; white-space: nowrap; }
.directory div { display: none; margin: 0px; }
.directory img { vertical-align: -30%; }
